<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Titulo
	link(rel="stylesheet", href="../css/blockbliss.css")

body
	style.
		.panel-body.colors div{
			display:inline-block; 
			width:40px; 
			height:40px;
			margin:8px;
			border-radius:4px;
		}
		.panel{
			display: inline-block;
			vertical-align: top;
			width:330px;
			margin:15px 15px 0 0px;
			border-radius:5px;
			background:#f0f0f7;
			padding:15px
		}
	.panel
		.panel-title UI - Color Palette
		.panel-body.colors
			.bg-off-white
			.bg-light-grey
			.bg-soft-grey
			.bg-grey
			.bg-dark-grey
			.bg-light-green
			.bg-soft-green
			.bg-green
			.bg-dark-green
			.bg-deep-green
			.bg-light-cold
			.bg-soft-cold
			.bg-cold
			.bg-dark-cold
			.bg-deep-cold
			.bg-light-warm
			.bg-soft-warm
			.bg-warm
			.bg-dark-warm
			.bg-deep-warm
	
	.panel
		.panel-title UI - Fonts
		.panel-body
			span Source Sans Pro
			p.
				ABCDEFGHIJKLMNOPQRSTUVWXYZ
				abcdefghijklmnopqrstuvwxyz
				1234567890!@#$%?&*()
			p
				.fwl Light
				.fwr Regular
				.fwb Semibold

			span.ff2 Raleway
			p.ff2.
				ABCDEFGHIJKLMNOPQRSTUVWXYZ
				abcdefghijklmnopqrstuvwxyz
				1234567890!@#$%?&*()
			p
				.fwl.ff2 Light
				.fwb.ff2 Semibold
	.panel
		.panel-title UI - Typography
		.panel-body
			h1 Headline
			h2 Title
			h3 Header
			p.lb Large Body
			p Body
	
	.panel
		.panel-title UI - Forms
		.panel-body
			.form-group
				input.form-control(type="text" placeholder="Placeholder")
			.form-group.focus
				label(for="in1") Label
				input.form-control(type="text" placeholder="Placeholder" autofocus)
			.form-group.error
				label(for="in1") Label
				input.form-control(type="text" placeholder="Placeholder")
				span.helper-text Helper Text
			.form-group
				select.form-control(name="")
					Label(disabled selected) Placeholder
			.form-inline
				.form-group.col-2
					label Label
					input.form-control(type="text" placeholder="Placeholder")
				.form-group.col-2
					label Label
					input.form-control(type="text" placeholder="Placeholder")
				.form-group.col-3
					label Label
					input.form-control(type="text" placeholder="Placeholder")
				.form-group.col-3
					label Label
					input.form-control(type="text" placeholder="Placeholder")
			
				.form-group.col-3
					label Label
					input.form-control(type="text" placeholder="Placeholder")
			
				.form-group.col-4
					label Label
					input.form-control(type="text" placeholder="Placeholder")
				.form-group.col-4
					label Label
					input.form-control(type="text" placeholder="Placeholder")
			
				.form-group.col-4
					label Label
					input.form-control(type="text" placeholder="Placeholder")
				.form-group.col-4
					label Label
					input.form-control(type="text" placeholder="Placeholder")
			
			.form-inline
				.form-group
					.check
						input(type="checkbox"  )#cc1
						label(for="cc1")
				.form-group
					.check
						input(type="checkbox"   checked)#cc2
						label(for="cc2")
				.form-group
					.check
						input(type="checkbox" disabled)#cc3
						label(for="cc3")
				.form-group
					.radio
						input(type="radio" name="demo1" value="1")#rr1
						label(for="rr1")
				.form-group
					.radio
						input(type="radio" name="demo1" value="2" checked)#rr2
						label(for="rr2")
				.form-group
					.radio
						input(type="radio" name="demo1" value="3" disabled)#rr3
						label(for="rr3")
			.form-group
				.check
					input(type="checkbox"  )#c1
					label(for="c1") Label
				.check
					input(type="checkbox"   checked)#c2
					label(for="c2") Label
				.check
					input(type="checkbox" disabled)#c3
					label(for="c3") Label
				.radio
					input(type="radio" name="demo" value="1")#r1
					label(for="r1") Label
				.radio
					input(type="radio" name="demo" value="2" checked)#r2
					label(for="r2") Label
				.radio
					input(type="radio" name="demo" value="3" disabled)#r3
					label(for="r3") Label
	.panel
		.panel-title UI - Buttons
		.panel-body
			button.btn.btn-primary Normal
			button.btn.btn-primary(disabled) Disabled