

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Roman.eot');
    src: url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Roman.ttf') format('truetype'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Md.eot');
    src: url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Md.woff') format('woff'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Md.ttf') format('truetype'),
        url('https://www.lage.com.mx/hubfs/assets/fonts/subset-HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}
